[Unit]
Description=OAI UE Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/start-oai.sh
Restart=always
RestartSec=5s
StandardOutput=append:/var/log/oai-ue.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
