[Unit]
Description=OAI %i service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/start-oai.sh %i
Restart=always
RestartSec=5s
StandardOutput=append:/var/log/oai.log
StandardError=append:/var/log/oai.log

[Install]
WantedBy=multi-user.target
